<div class="section">
  <div class="container">
    <div class="well product">
      <div class="row">
        <div class="col-md-4">
          <div class="product-img">
            <img src="/assets/img/PROMO.png" alt="promo">
          </div>
          <hr>
          <a href="" class="text-green">Click here to return back</a>
        </div>

        <div class="col-md-8">
          <div class="product-body">
            <h3 class="product-name"><p>Lorem Name</p></h3>
            <h5><p class="product-category">Ipsum Category</p></h5>
            <hr>
            <h4><p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для
              текстов на латинице с начала XVI века.</p></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


