<!--
Criteria for assessment:

1. Proper use of Components & Modules (10%)
2. Add Routing to your Web App (10%)
3. Usage of Angular Services and JSON Server REST API (10%)
4. Usage of Child Components (5%)
5. Proper usage of Angular Forms, Forms Validation and Data Binding (10%)
6. Communication between parent and child components (5%)
7. Appropriate use of Life Cycle Hooks (5%)
8. Use of Directives, Pipes & Guards (5%)
9. Completeness of Project Functionality/Scope of work (20%)
10. Project Structure - structuring components (5%)
11. UI/UX Completeness (15%)
-->

<!-- nav -->
  <div id="header">
    <div class="container" *ngIf="currentUser">
      <div class="row">
        <div class="collapse navbar-collapse" id="navbarText">
          <a style="color: #ffffff" class="nav-link" href="/">Welcome to FREEBIE</a>
          <ul class="header-links pull-left">
            <li>
              <a class="nav-link" href="/parent">Life cycle</a>
            </li>
            <li>
              <a class="nav-link" href="/directives">Directives</a>
            </li>
          </ul>
          <ul class="header-links pull-right">
            <li>
              <a href="/home">Registered users</a>
            </li>
            <li>
              <a style="color: #fff" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/assets/img/okko.jpg" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Promo</p>
            <h3 class="product-name"><a href="/info">60 дней подписки Оптимум всего за 1 рубль</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/assets/img/domino.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Food</p>
            <h3 class="product-name"><a href="/info">Скидка 38% на заказ!</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/assets/img/KFCpng.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Food</p>
            <h3 class="product-name"><a href="/info">2 Твистера де Люкс по цене 1</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/assets/img/elite.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Game</p>
            <h3 class="product-name"><a href="/info">Elite Dangerous для EpicGames</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/assets/img/software.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Software</p>
            <h3 class="product-name"><a href="/info">Бесплатно (вместо 4122р) получаем Glarysoft Software Update Pro</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/assets/img/tnt.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Promo</p>
            <h3 class="product-name"><a href="/info">Cмотрим бесплатно 30 дней TNT-PREMIER</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="/assets/img/artist.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Software</p>
            <h3 class="product-name"><a href="/info">Бесплатно (вместо 320р) получаем медиа-плеер </a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="https://www.allkeyshop.com/blog/wp-content/uploads/buy-parkour-simulator-cd-key-compare-prices.jpg" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Game</p>
            <h3 class="product-name"><a href="/info">Бесплатно получаем игру Parkour Simulator 3D</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
